*{
    font-family: 'Arturo';
  }
.sub{
    margin: auto;
  width: 50%;
  
  padding: 10px;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    background-color: #EB455F;
    width: 500px;
    border: 2px solid rgb(2, 2, 2);
    padding: 20px;
    margin: 15px auto

  }

.subscribe > h3 {
    margin-top: 10px;
}
.header{
    margin-top: 10px;
    text-align: center;

}